.root {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.dataEntry {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding-block: 1rem;
}

.dataEntry_image {
  width: 10rem;
  height: 10rem;
}